@model MoviesViewModel
@{
    ViewData["Title"] = Model.SearchTerm;
}
<div class="text-center">
    @if (Model?.Movies != null)
    {
        @foreach (var movie in Model.Movies)
        {
            //Movie Partial
            <div>
                <h3>@movie.Title (@((!string.IsNullOrEmpty(movie.ReleaseDate)) ? @movie.ReleaseDate.Substring(0, 4) : "N/A"))</h3>
                <p>@movie.Overview</p>
                @if (!string.IsNullOrEmpty(movie.PosterPath))
                {
                    <img src="https://image.tmdb.org/t/p/w500/@movie.PosterPath" />
                }
                else
                {
                    //Placeholder image
                }
                <div>
                    <a asp-controller="List" asp-action="AddMovieToList" asp-route-movieId="@movie.Id">Add this movie to a list</a>
                </div>
            </div>
        }
    }
</div>
