@using TenMovies.Web.Models.MovieModels
@model AddMovieToListViewModel
@{
    ViewBag.Title = "Create New List";
    Layout = "_Layout";
}
<h2>Add @Model.MovieToAdd.Title to a list</h2>
<hr />
@if (TempData["FailMessage"] != null)
{
    <div class="alert alert-warning" role="alert">
        <strong>Warning!</strong> @TempData["FailMessage"]
    </div>
}
@*Use Movie Partial*@
<h3>@Model.MovieToAdd.Title (@((!string.IsNullOrEmpty(Model.MovieToAdd.ReleaseDate)) ? Model.MovieToAdd.ReleaseDate.Substring(0, 4) : "N/A"))</h3>
<p>@Model.MovieToAdd.Overview</p>
@if (!string.IsNullOrEmpty(Model.MovieToAdd.PosterPath))
{
    <img src="https://image.tmdb.org/t/p/w500/@Model.MovieToAdd.PosterPath" />
}
else
{
    //Placeholder image
}
<div>

</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddMovieToList" asp-controller="List">
            <input asp-for="MovieId" class="form-control" type="hidden" value="@Model.MovieToAdd.Id" />
            <div class="form-group">
                @Html.DropDownListFor(l => l.ListId, new SelectList(Model.UsersMovieLists, "Id", "Title"))
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default btn-primary" />
            </div>
        </form>
    </div>
</div>