@using TenMovies.Web.Models.MovieModels
@model MoviesAndListViewModel

@{
    ViewBag.Title = "Create New List";
    Layout = "_Layout";
}

<div>
    <h2>@Model.MovieList.Title</h2>
    <p>@Model.MovieList.Description</p>
    <p>Created By: @Model.MovieList.OwnerUsername on @Model.MovieList.DateCreated</p>
</div>
@if (!(Model.Movies == null || !Model.Movies.Any()))
{
    <div>
        @foreach (var m in Model.Movies)
        {
            <div>
                @*Movie Partial*@
                @m.Title
            </div>
        }
    </div>
}
else
{
    <div>There are no movies in this list.</div>
}
<div>
    <a asp-controller="User" asp-action="Profile">Go back to profile</a>
</div>